.container {
  	width: 880px;
  	margin: 100px auto;
	height: 350px;
	border-radius: 10px;
	-webkit-border-radius: 5px 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border : 1px solid #D5D9DC;
	box-shadow: 3px 0px #D5D9DC;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	overflow: hidden;	
	background-image: linear-gradient(#FFFFFF 95%, #EFF7FE);
}
    
.slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}

.slider ul {
	list-style: outside none;
	padding: 0;
	margin: 0;
	width: 10000%;
	position: relative;
	top: 0;
	right: 0;
	transition: all 0.6s ease;
}

.slider li {
	float: left;
	width: 160px;
	padding: 10px 10px;
	margin-top: 10px;
}

.slider li:hover 
{
	background-image: linear-gradient(#EFF7FE 65%,#FFFFFF);
}

.slider li .thumb
{
	border: 2px solid #FFFFFF;
}

.slider li:hover .thumb
{
	border: 2px solid #BDD0E0;
}


.product-container
{
	width: 160px;
}

.product-container .thumb
{
	text-align: center;
	background-color: #FFFFFF;
}

.product-info span
{
	display: block;
	font-size: 10px;
	padding: 2px 0;
	text-align: justify;
}

.product-info .price
{
	color: #CC0000;
}

.product-info .price strong
{
	font-size: 16px;
	font-weight: bolder;	
}

.product-info .name
{
	margin-top: 5px;
	padding-bottom: 5px;
}

.product-info .installment, .product-info .installment strong 
{
	font-size: 12px;
}

.container a
{
	color: inherit;
	text-decoration: inherit;
}

.seeing
{
	float: left;
}

.section .title {
	height: 40px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF7FE), to(#D7EAF9));
	background: -moz-linear-gradient(top, #EFF7FE, #D7EAF9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF7FE, endColorstr=#D7EAF9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF7FE, endColorstr=#D7EAF9)";	
	border-bottom: 1px solid #D7EAF9;
}

.section .title span {
	line-height: 40px;
	color: #006699;
	font-weight: bold;
	padding-left: 10px;
}

.seeing
{
}

.seeing .product-container
{
	padding: 20px 30px 0 30px;
	border-right: 1px #D5D9DC solid;
}

.arrow
{
	height: 340px;
	width: 40px;
}

.arrow>div
{
	width: 0; 
  	height: 0; 
  	border-top: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	margin: 60px auto;
  	cursor: pointer; 
}

.arrow-left
{
	float: left;
}

.arrow-right
{
	float: right;
}

.arrow-left>div{
  border-right:20px solid #A5A5A5;
}

.arrow-right>div{
  border-left:20px solid #A5A5A5;
}

.arrow-right>div:hover{
  border-left-color: #175B9C;
}

.arrow-left>div:hover{
  border-right-color: #175B9C;
}

.product-item
{
	list-style: outside none !important;
} 